.posteos {
    width: 55%;
    padding: 10px;
    height: 100%;
    margin: 20px;

}

.inicio{
    background-color: #1e409f4b ;
}

@media screen and (max-width: 767px) {
    .posteos{
        width: 100%;
        padding-top: 90px;
    }
}




