.posteoos {
    width: 55%;
    padding: 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.526); 
    border-right: 1px solid rgba(128, 128, 128, 0.526);;
    /* overflow: scroll; */
}

@media screen and (max-width: 767px) {
    .posteoos{
        width: 100%;
        padding-top: 90px;
    }
}

