.carousel-inner{
    height: 93vh;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 767px) {
    
    .carousel-inner{
        width: 100%;
        justify-items: center;
        justify-content: center;
    }
}

@media screen and (min-width : 768px ) and (max-width : 1023px ) {
    .carousel-inner{
        height: 87vh;
        width: 100%;
    }
}