.pagina {
    background-color: black;
}


img {
    opacity: 0.5;
    height: 94vh;
}

h5 {
    font-variant: small-caps;
    margin: 0 auto;
    width: 50vw;
    font-size: 60px;
    margin-bottom: 23%;
}



