#nav {
    width: 20%;
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.526);
    background-color: whitesmoke;
}

h2{
    font-size: 40px;
    margin-top: 30px;
    color: #1e409f;
}

#nav ul li i{
    margin-right: 20px;
}

i{
    margin-right: 20px;
}

li{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-content: space-between;
}

li:hover{
    font-weight: 500;
}

ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    height: 40vh;
    margin: 0 auto;
    width: 60%;
}
.perfil{
    margin-top: 100px;
}

#post {
    margin: 0 auto;
    margin-top: 35vh;
    width: 300px;
    width: 80%;
    border-radius: 20px;
    font-weight: 600;
    background-color: #1e409f;
    border: none;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}

.lista{
    margin-bottom: -30px;
}

@media screen and (max-width: 767px) {
    #nav {
        width: 70%;
        height: 100%;
        margin: 0;
        position: absolute;
        float: none;
        display: block;
        left: -100%;
        transition: all .5s; 
        background-color: rgb(242, 242, 242);
    }

    .checkbtn {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(242, 242, 242);
    }

    .checkbtn .menu {
        display: block;
        padding: 20px;
        background-color: rgba(242, 242, 242, 0.532);
        color: black;
        text-decoration: none;
        font-weight: bold;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .checkbtn i {
        float: right;
    }

    #check:checked ~ #nav{
        left:0;
    }

    #post{
        width: 60%;
        position: absolute;
        float: none;
        display: block;
        margin: 33px;
    }

    button{
        justify-content: center;
        justify-items: center;
    }

    h2{
        margin-top: 15px;
    }
}

@media screen and (min-width : 768px ) and (max-width : 1023px ) {
    #nav{
        width: 30%;
    }

    .lista{
        margin-bottom: -40px;
    }
}