.post {
    width: 100%;
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    border-radius: 20px;
}

.tittle{
    font-weight: 500;
    font-size: 20px;
}

.texto{
    font-size: 16px;
}

.category{
    font-size: 12px;
    text-align: end;
}

.user {
    font-size: 10px;
    align-items:right;
    padding-right: 5px;
}

@media screen and (max-width: 767px) {
    
    .card {
        flex-direction: column;
        position: static;
        width: max-content;
    }

    div.card.post{  
        width: 100%;
    }
}