.miperfil {
    width: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100vh;
    border-right: 1px solid rgba(128, 128, 128, 0.526);;
    /* align-items: center; */
}

#parrafo{
    width: 80%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.526);
    margin: 0 auto;
}

#nombre, #cerrar{
    padding: 3px;
    border: 1px solid  #1e409f;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: white;
    color:  #1e409f;
    width: 30%;

}

#cerrar:hover {
    color: white;
    background-color:  #1e409f;
}

#nombre:hover {
    color: white;
    background-color:  #1e409f;
}

@media screen and (max-width: 767px) {
    .miperfil{
        width: 100%;
        padding-top: 90px;
    }

    #nombre, #cerrar{
        width: 45%;
    }
}

@media screen and (min-width : 768px ) and (max-width : 1023px ) {
    #nombre, #cerrar{
        width: 45%;
    }
}