.styleNavbar{
    background-color: #ABC9FF;
    color: white;
}

.titulos{
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.titulos:hover{
    color:  #1e409f;
}

.titulo{
    font-size: 40px;
    padding-left: 180px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(30, 64, 160);
}
.titulo:hover{
    color: white;
}